<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Mercury Tours Flight Booking Automation Suite" >

	<listeners>
		<listener
			class-name = "com.qa.ExtentReportListener.ExtentReporterNG" />	
	</listeners>

	
  <test name="Mercury Tours Flight Booking" >  
  	<classes>
       <class name="com.merctours.qa.testcases.LoginPageTest" />
       <class name="com.merctours.qa.testcases.FlightSearchPageTest" />
       <class name="com.merctours.qa.testcases.FlightSelectionPageTest" />
       <class name="com.merctours.qa.testcases.FlightBookingPageTest" />
       <class name="com.merctours.qa.testcases.BookingConfPageTest" />
       
    </classes>
  </test>
  
</suite>
